@font-face {
    font-family: Poppins;
    src: url("../assets/fonts/Poppins-Bold.ttf");
    src: url("../assets/fonts/Poppins-BoldItalic.ttf");
    src: url("../assets/fonts/Poppins-ExtraBold.ttf");
    src: url("../assets/fonts/Poppins-ExtraBoldItalic.ttf");
    src: url("../assets/fonts/Poppins-Italic.ttf");
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

body>.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

#app {
    margin-top: 5%;
    border-radius: 1rem;
    border-bottom-right-radius: 10rem;
    padding: 3rem;
}

/* colors */
.black {
    color: black;
}

.purple {
    color: hsl(259, 100%, 65%);
}

/* background colors */
.bg-white {
    background-color: hsl(0, 0%, 100%);
}

.bg-offwhite {
    background-color: hsl(0, 0%, 94%);
}

/* form elements */
div.input-group {
    display: inline-flex;
    flex-direction: column;
}

div.input-group:nth-child(2) {
    margin-left: 1rem;
    margin-right: 1rem;
}

div.input-group:last-child {
    margin-right: 7rem;
}

label {
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: hsl(0, 1%, 44%);
}

input {
    width: 4em;
    padding: 1ch;
    padding-left: 1ch;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 6px;
    font-size: 32px;
    font-weight: 700;
}

input:hover,
input:focus {
    border: 1px solid hsl(259, 100%, 65%);
    cursor: pointer;
}

input::-webkit-inner-spin-button {
    display: none;
}

/* separator */
.separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.separator>hr {
    flex: 1;
}

.separator>input[type="submit"] {
    border-radius: 100%;
    padding: 3rem;
    width: 6rem;
    height: 6rem;
    background: url("../assets/images/icon-arrow.svg") hsl(259, 100%, 65%) center no-repeat;
    background-size: 3rem;
    border: none;
}

.separator>input[type="submit"]:hover {
    cursor: pointer;
    background-color: black;
}

.result-group {
    font-size: 4rem;
    font-weight: 800;
    font-style: italic;
    display: flex;
    align-items: center;
}

/* form errors */
form input.invalid {
    border-color: hsl(0, 100%, 67%);
    font-weight: 400;
    font-style: italic;
}

form .input-group.invalid {
    color: hsl(0, 100%, 67%);
}

form .error-message {
    font-size: .8em;
    font-style: italic;
    margin-top: 10px;
}
.mobile-only {
    display: none;
}
/* mobile screen */
@media (max-width: 600px) {
    .mobile-only {
        display: block;
    }
    input {
        width: 3em;
    }
    div.input-group {
        margin: 0!important;
    }
    .separator {
        margin-bottom: 2em;
        margin-top: 2em;
    }
    .separator>input[type="submit"] {
        padding: 2rem;
        width: 4rem;
        height: 4rem;
        background-size: 2rem;
    }
}