@font-face {
    font-family: Poppins;
    src: url("../assets/fonts/Poppins-Bold.ttf");
    src: url("../assets/fonts/Poppins-BoldItalic.ttf");
    src: url("../assets/fonts/Poppins-ExtraBold.ttf");
    src: url("../assets/fonts/Poppins-ExtraBoldItalic.ttf");
    src: url("../assets/fonts/Poppins-Italic.ttf");
    src: url("../assets/fonts/Poppins-Regular.ttf");
    weight: 400i, 700, 800i;
}
* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}
body, body > div.container {
    width: 100vw;
    height: 100vh;
}
body > div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.attribution {
    position: absolute;
    bottom: 0;
}
#app {
    max-width: 700px;
    border-radius: 10px;
    border-bottom-right-radius: 90px;
    padding: 30px;
}

.black {
    color: black;
}
.purple {
    color: hsl(259, 100%, 65%);
}
.lightred {
    color: hsl(0, 100%, 67%);
}

/* background colors */
.bg-white {
    background-color: hsl(0, 0%, 100%);
}
.bg-offwhite {
    background-color: hsl(0, 0%, 94%);
}
.bg-lightgrey {
    background-color: hsl(0, 0%, 86%);
}
.bg-smokegrey {
    background-color: hsl(0, 1%, 44%);
}
.bg-offblack {
    background-color: hsl(0, 0%, 8%);
}
.bg-purple {
    background: hsl(259, 100%, 65%);
}
div.input-group {
    display: inline-flex;
    flex-direction: column;
}
div.input-group:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}
div.input-group:last-child {
    margin-right: 120px;
}
label {
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}
input {
    width: 120px;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 6px;
    font-size: 32px;
    font-weight: 700;
} 
input:hover, input:focus {
border: 1px solid hsl(259, 100%, 65%);
cursor: pointer;
}
input::-webkit-inner-spin-button
{
    display: none;
}
.container.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.separator > hr {
    flex: 1;
}
.separator > input[type="submit"] {
    border-radius: 100%;
    padding: 25px;
    width: 70px;
    height: 70px;
    background: url("../assets/images/icon-arrow.svg") hsl(259, 100%, 65%) center no-repeat;
    background-size: 25px;
    border: none;
}
.separator > input[type="submit"]:hover {
    cursor: pointer;
    background-color: black;
}
.result-group {
    font-size: 4em;
    font-weight: 800;
    font-style: italic;
    display: flex;
    align-items: center;
}
